<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeLane</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div id="nav">
    <div id="nav-1">
    <img src="../static/logo.png" alt="" >
    </div>
    <div id="nav-2">
    <button><a href="/client-registration" id="link">login/register as Client</a></button>
    <button><a href="/designer-registration" id="link">login/register as Designer</a></button>
     </div>
    </div>
    
    <div id="part1">Exclusively You.</div>
    <div id="part2">
        From timeless classics to modern masterpieces, at HomeLane Luxe, we curate homes that are “Exclusively You”
    </div>
    <img src="../static/banner.jpg" alt="" id="part3">
    <div id="part4">
    <span id="part4-1">
        Why HomeLane
    </span>
    <span id="part4-2">
        luxe
    </span>
    </div>
    <div id="part5">
        <div id="part5-1">
            <img src="../static/e-catalogue.jpg" alt="" id="part5-11">
            <div>
            <span id="part5-12">Exclusive Catalogue</span>
            </div>
            <div>
            <span id="part5-13">300+ designs, materials, and finishes</span>
            </div>

        </div>
        <div id="part5-2">
            <img src="../static/allstardesigners.jpg" alt="" id="part5-21">
            <div>
            <span id="part5-22">All Star Designers</span>
            </div>
            <div>
            <span id="part5-23">100+ premium homes designed</span>
            </div>
        </div>
        <div id="part5-3">
            <img src="../static/projectmanagers.jpg" alt="" id="part5-31">
            <div>
            <span id="part5-32">Experienced Project Managers</span>
            </div>
            <div>
            <span id="part5-33">25+ high end homes executed to perfection</span>
            </div>
        </div>
    </div>
    <div id="part6">
       <span id="part6-1">HomeLane Luxe</span>
       <span id="part6-2">offerings</span>
    </div>
    <div id="part7">
        <div id="part7-1">
            <div id="part7-11">
                <img src="../static/kitchen.png" alt="" id="pics">
                <div id="titles">Modular Kitchen</div>
            </div>
            <div id="part7-11">
                <img src="../static/wardrobe.png" alt="" id="pics">
                <div id="titles">Storage & Wardrobe</div>
            </div>
            <div id="part7-11">
                <img src="../static/crockery.png" alt="" id="pics">
                <div id="titles">Crockery Units</div>
            </div>
            <div id="part7-11">
                <img src="../static/tvunit.png" alt="" id="pics">
                <div id="titles">TV Units</div>
            </div>
        </div>
        <div id="part7-2">
            <div id="part7-12">
                <img src="../static/studytable.png" alt="" id="pics">
                <div id="titles">Study Tables</div>
            </div>
            <div id="part7-12">
                <img src="../static/poojaunit.png" alt="" id="pics">
                <div id="titles">Pooja Unit</div>
            </div>
            <div id="part7-12">
                <img src="../static/wallpaper.png" alt="" id="pics">
                <div id="titles">Wallpaper</div>
            </div>
            <div id="part7-12">
                <img src="../static/lights.png" alt="" id="pics">
                <div id="titles">Lights</div>
            </div>
        </div>
    </div>
    <div>
        <img src="../static/Website_phase3-d.png" alt="" id="part8">
    </div>
    <script src="../static/script.js"></script>
</body>
</html>